{{ 'featured-products.scss.css' | asset_url | stylesheet_tag }}
{{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
<script src="{{ 'featured-product.js' | asset_url }}" defer></script>

<section class="featured-products" id="custom-featured-products">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 class="featured-products__title">{{ section.settings.title }}</h2>
    {% endif %}
    <ul class="featured-products__products" id="featured-products__list" data-section-id="{{ section.id }}">
      {% if section.settings.collection != blank %}
        {% render 'featured-product-item' for section.settings.collection.products as product, product: product %}
      {% endif %}
    </ul>
  </div>

  <br>
  <br>

  {% if section.settings.localization %}
    <div class="desktop-localization-wrapper">
      {%- if localization.available_countries.size > 1 -%}
        <localization-form class="small-hide medium-hide">
          {%- form 'localization', class: 'localization-form' -%}
            <div class="no-js-hidden">
              <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
              {%- render 'country-localization' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}

      {%- if localization.available_languages.size > 1 -%}
        <localization-form class="small-hide medium-hide">
          {%- form 'localization', class: 'localization-form' -%}
            <div class="no-js-hidden">
              <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
              {%- render 'language-localization' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {%- endif -%}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Custom featured products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "localization",
      "label": "Show language select",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Custom featured products"
    }
  ]
}
{% endschema %}
